<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServidorWebPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/WSPuntodeventa/ServidorWeb"
                binding="basicHttpBinding" bindingConfiguration="ServidorWebPortBinding"
                contract="ServiceReference1.ServidorWeb" name="ServidorWebPort" />
        </client>
    </system.serviceModel>
</configuration>